<!DOCTYPE html>
<html>
    
    <link rel="stylesheet" href="template.css">

    <style>
        
        /* CSS de PDF */
        
        * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

    </style>

    <head>
        <mate charest="utf-8" />
        <title> Examen </title>
    </head>

    <body style="font-family: Arial, Helvetica, sans-serif;">
        <div>
            <table style="border-bottom: 2px solid black;">
                <tr>
                    <td> <img style="width: 350px;" src={{url_logo}} alt="Municipalidad de San Luis"> </td>
                    <td style="width: 100%; text-align: right; padding: 20px;">
                        <div style="font-weight:bold; margin-top: 5px;"> Licencia Nacional de Conducir </div>
                        <div style="margin-top: 2px; font-size: 14px;"> EXAMEN TEORICO </div>   
                        <div style="font-weight:bold; margin-top: 5px;"> N° {{ examen.nro_examen_string }} </div>  
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style="width: 50%; padding-top: 20px; padding-bottom: 20px;">
                        <div style="margin-top: 8px; font-size: 14px;"> <span style="font-weight: bold;"> Fecha del examen: </span> {{ fecha }}   </div>
                        <div style="margin-top: 8px; font-size: 14px;"> <span style="font-weight: bold;"> Creador del examen: </span> {{ examen.usuario.apellido }} {{ examen.usuario.nombre }} - DNI {{ examen.usuario.dni }}  </div>
                        <div style="margin-top: 8px; font-size: 14px;"> <span style="font-weight: bold;"> Rindio el examen: </span> {{ examen.persona.apellido }} {{ examen.persona.nombre }} - DNI {{ examen.persona.dni }}  </div>
                        <div style="margin-top: 8px; font-size: 14px;"> <span style="font-weight: bold;"> Tipo de licencia: </span> Clase {{ examen.tipo_licencia }}   </div>
                        <div style="margin-top: 8px; font-size: 14px;"> <span style="font-weight: bold;"> Clasificación: </span> {{ examen.cantidad_respuestas_correctas }} / {{ totalPreguntas }}   </div>
                    </td>
                </tr>
            </table>
            <h1 style="font-size: 24px;"> Detalles del examen </h1>
            {{#each preguntas}}
            <div style="margin-top:10px"> <span style="font-weight: bold;"> Pregunta {{ numero }} </span>  - {{ descripcion }} </div>
            {{#ifCond url_img '!==' ''}}
            <img style="width: 100px; margin-top: 10px; margin-bottom: 10px;" src={{url_img}} alt="Señal de transito">
            {{/ifCond}}
            <!-- <div style="margin-top:5px; font-size: 15px;"> <span style="font-weight: bold;"> Respuesta correcta </span>  - {{ respuesta_correcta }} </div> -->
            {{#ifCond seleccionada '===' 'respuesta_correcta'}}
            <div style="margin-top:5px; font-size: 15px;"> <span style="font-weight: bold;"> Respuesta seleccionada </span>  - {{ respuesta_correcta }} </div>
            <div style="margin-top:5px; font-size: 15px; font-weight: bold;">  Respondida correctamente </div>
            {{/ifCond}}
            {{#ifCond seleccionada '===' 'respuesta_incorrecta_1'}}
            <div style="margin-top:5px; font-size: 15px;"> <span style="font-weight: bold;"> Respuesta seleccionada </span>  - {{ respuesta_incorrecta_1 }} </div>
            <div style="margin-top:5px; font-size: 15px; font-weight: bold;"> Respondida incorrectamente </div>
            {{/ifCond}}
            {{#ifCond seleccionada '===' 'respuesta_incorrecta_2'}}
            <div style="margin-top:5px; font-size: 15px;"> <span style="font-weight: bold;"> Respuesta seleccionada </span>  - {{ respuesta_incorrecta_2 }} </div>
            <div style="margin-top:5px; font-size: 15px; font-weight: bold;"> Respondida incorrectamente </div>
            {{/ifCond}}
            {{#ifCond seleccionada '===' ''}}
            <div style="margin-top:5px; font-size: 15px;"> <span style="font-weight: bold;"> Respuesta seleccionada </span>  - No respondida </div>
            {{/ifCond}}
            <hr>
            {{/each}}
        </div>
    </body>

</html>