<!DOCTYPE html>
<html>
<style>
    
    /* CSS de PDF */
    
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    marco {
        border: 2px solid black;
        
    }

</style>

<head>
    <mate charest="utf-8" />
    <title> Presupuesto </title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">

    <div>
        <div style="border:2px">
            <h1 style="font:bold"> Logo de municipalidad </h1>
        </div>
    </div>

</body>

</html>